/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
   height: 100%;
   font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

span#element2 {
    color: #EEEBE7;
}

.s2:focus, .s3:focus, .s4:focus, .s5:focus {
    outline: none;
}

/* ==========================================================================
   Layout Grid
   ========================================================================== */

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 20px 0;
    }

    .col {
        padding: 20px;
    }

    .row .col {
        -webkit-box-flex: 1;
        -ms-flex: 1;
         flex: 1;
    }

    .row-halves, .row-thirds {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
         justify-content: space-between;
    }

    .row-halves .col {
        width: 50%;
    }

    .row-thirds .col {
        width: 32%;
    }

    @media (max-width: 900px) {
        .row,
        .row-halves,
        .row-thirds {
        display: block;
        }
        .row .col,
        .row-halves .col,
        .row-thirds .col {
        width: 100%;
        margin: 0 0 10px 0;
        }
    }

   /* ==========================================================================
      Image Grid
      ========================================================================== */

    .img-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Three column layout */

    .column {
        flex: 33.3%;
        max-width: 33.3%; /* change the column width */
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    /* Two column layout */

    @media (max-width: 700px) {
        .column {
        flex: 100%;
        max-width: 100%;
        }
    }

    /*@media (max-width: 800px) {
        .column {
        flex: 50%;
        max-width: 50%;
        }
    }*/

    /* One column layout */
    /*@media (max-width: 600px) {
        .column {
        flex: 100%;
        max-width: 100%;
        }
    }*/


/* ==========================================================================
   Navigation
   ========================================================================== */

   .navbar {
       position: fixed;
       top: 0;
       width: 100%;
       height: 65px;
       display: flex;
       justify-content: space-between;
       align-content: center;
       align-items: center;
       /*padding: 0 40px;*/
       background: #EEEBE7;
       /*border-bottom: 4px solid #97938B;*/
       box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
       z-index: 999;
   }


   .navbar .logo {
       height: 32px;
       width: 32px;
       margin-right:5px;
       transition: all .35s;
       /*box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.5);*/
   }

   .navbar .logo:hover {
       transform: scale(1.1);
   }

   #socials-top {
       list-style: none;
       margin-right: 30px;
   }

   #socials-top li {
       display: inline-block;
       margin: 0 10px;
   }

   #socials-top li a {
       color: #38353A;
       display: inline-block;
       font-size: 1.15em;
       transition: all .35s;
   }

   #socials-top li a:hover {
       color: #97938B;
   }

    #top-nav {
       list-style: none;
       color: #000;
   }

   #top-nav li {
       display: inline-block;
       margin-right: 10px;
   }

   #top-nav li a {
       display: inline-block;
       color: #38353A;
       text-decoration:none;
       transition: all .35s;
       font-weight: 600;
       letter-spacing: 1px;
       padding: 0px 5px;
   }

   #top-nav li a:hover, #socials-top li a:hover {
       transform: scale(1.1);
   }

   #top-nav li a:after {
       content: "";
   	   position: absolute;
   	   top: 49%;
   	   left: 50%;
   	   width: 0%;
   	   transform: translateX(-50%);
   	   height: 2px;
   	   background: #fff;
   	   transition: 0.35s;
   }

   #top-nav li a:hover,
   #top-nav li a:focus,
   #top-nav li a:active {
       color: #000;
   }

   #top-nav li a:hover:after,
   #top-nav li a:focus:after,
   #top-nav li a:active:after {
       width: 100%;
   	   background: #97938B;
   }

   .navbar-buttons {
       display: none;
   }

   button {
       background: none;
       border: none;
   }

   button:focus {
       outline: none;
   }

   .contain {
       position:relative;
       display: inline-block;
       cursor: pointer;
       z-index: 9999;
   }

   .change .container {
       transform: rotate(90deg);
   }

   .brand {
       color: #000;
       margin: 12px 15px;
       padding: 6px;
   }

   .bar1,
   .bar3 {
       width: 35px;
       height: 2px;
       background-color: #000;
       margin: 6px 0;
       transition: 0.4s;
   }

   .bar2 {
       text-align: right;
       width: 25px;
       height: 2px;
       background-color: #000;
       margin: 6px 0 6px 10px;
       transition: 0.4s;
   }

   .change .bar1 {
       -webkit-transform: rotate(-45deg) translate(-9px, 6px);
       transform: rotate(-405deg) translate(-5px, 6px);
       background: #97938B;
   }

   .change .bar2 {
   	   opacity: 0;
   }

   .change .bar3 {
       -webkit-transform: rotate(45deg) translate(-5px, -8px);
       transform: rotate(405deg) translate(-5px, -6px);
       background: #97938B;
   }

   button {
       position: relative;
       z-index: 999;
   }

   button:focus {
       outline: 0;
   }

   .menu-icon {
       display: relative;
       cursor: pointer;
       transition: transform 0.3s;
       color: #fff;
       font-size: 1.5em;
   }

   .menu-icon:hover {
       transform: scale(1.1);
   }

   .close-menu {
       position: relative;
       bottom: 0%;
       left: -3%;
   }

   /* Overlay */

   .overlay {
       position: fixed;
   	   background: rgba(0, 0, 0, .9);
   	   top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       visibility: hidden;
       transition: opacity 0.35s, visibility 0.35s, height 0.35s;
       overflow: auto;
       z-index: 9999;
   }

   .overlay.open {
       opacity: 1;
   	   visibility: visible;
   	   height: 100%;
   }

   .overlay .nav-title {
   	   text-align: center;
   	   position: relative;
   	   margin: 10px auto;
   	   left: 49%;
   	   transform: translate(-50%);
   	   top: 6%;
   }

   .overlay nav {
       position: relative;
   	   height: 40%;
   	   top: 35%;
   	   transform: translateY(-50%);
   	   text-align: center;
   }

   .overlay ul {
       list-style: none;
   	   padding: 0;
   	   margin: 0 auto;
   	   display: inline-block;
   	   position: relative;
       height: 100%;
   }

   .overlay ul li {
       display: block;
   	   position: relative;
   	   opacity: 0;
   	   margin-bottom: 35px;
   	   font-size: 3em;
   	   font-weight: 400;
   	   text-transform: uppercase;
   	   letter-spacing: 20px;
   }

   .overlay ul li a {
       display: block;
       position: relative;
   	   color: #fff;
       font-weight: bold;
   	   text-decoration: none;
   	   overflow: hidden;
   	   transition: all 0.35s;
   }

   .overlay ul li a:after {
       content: "";
   	   position: absolute;
   	   top: 50%;
   	   left: 43.5%;
   	   width: 0%;
   	   transform: translateX(-50%);
   	   height: 4px;
   	   background: #fff;
   	   transition: 0.35s;
   }

   .overlay ul li a:hover,
   .overlay ul li a:focus,
   .overlay ul li a:active {
       color: #fff;
   }

   .overlay ul li a:hover:after,
   .overlay ul li a:focus:after,
   .overlay ul li a:active:after {
       width: 100%;
   	   background: #97938B;
   }

   .overlay.open li {
       animation: fadeInRight 0.5s ease forwards;
   	   animation-delay: 0.35s;
   }

   .overlay.open li:nth-of-type(2) {
       animation-delay: 0.4s;
   }

   .overlay.open li:nth-of-type(3) {
       animation-delay: 0.45s;
   }

   .overlay.open li:nth-of-type(4) {
       animation-delay: 0.5s;
   }

   /* Animation for menu fade in */

   @keyframes fadeInRight {
   	0% {
   		opacity: 0;
        left: 20%;
   	}
   	100% {
   		opacity: 1;
   		left: 0;
   	}
   }

   /* Section 2 */

   .hwrapper {
       margin: 70px 0 0 0;
       padding: 30px;
   }

   .s2 {
       height: 100%;
       background-color: #38353A;
       border: 20px solid #97938B;
   }

    .s2 span#lg-wrd {
        font-size: 3em;
    }

    .s2 h1 {
       margin: 0px auto;
       padding: 0px;
       color: #EEEBE7;
       font-weight: 400;
   }

   .s2 h1 span.accent {
       color: #000;
   }

   .s2 h1 span#element1 {
       color: #97938B;
       font-family: 'PT Serif', serif;
       font-weight: 400;
   }

   /* Section 3 */

   .s3 {
       padding: 70px 20px;
       display: flex;
       align-items: center;
       background-color: #38353A;
       border-bottom: 20px solid #97938B;
       color: #EEEBE7;
   }

   .s3 h1, .s4 h1, .s5 h1 {
       line-height: 200%;
   }

   span.ti-cursor {
        font-weight: 300!important;
    }

    span#element3 {
        color: #38353A;
    }

    span#lead {
        font-weight: bold;
    }

    .wrapper {
        width: 60%;
        margin: 0 auto;
    }

   .s3 p {
       font-size: 1em;
       line-height: 160%;
       letter-spacing: 1px;
       font-weight: 300;
       color: #EEEBE7;
   }

/*   .s3 img {
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
       width: 80%;
       height: auto;
   }

   .s3 .p-image {
       display: flex;
       align-items: center;
   }

   @media (max-width: 1000px) {
       .s3 img {
           width: 100%;
           height: auto;
       }
   }

    @media (max-width: 1366px) {
         .s3 p {
             font-size: 1em;
             line-height: 150%;
         }
    }
*/
    .link-btn-solid {
        background: transparent;
        border: 2px solid #97938B;
        color: #97938B;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px 30px;
        transition: all .35s;
        letter-spacing: 2px;
    }

    .link-btn-solid:hover {
        background: #C0BAB2;
        color: #38353A;
        border: 2px solid #C0BAB2;
    }


    #contact-section {
        text-decoration: none;
        display: inline-block;
        margin: 20px auto;
    }



   /* Section 4 */

    .s4 {
        padding: 70px 20px;
        background-color: #EEEBE7;
        border-top: 4px solid #c0bab2;
        border-bottom: 20px solid #97938B;
    }

    .s4 h1 {
        text-align: left;
    }

    span#element4 {
        color: #EEEBE7;
    }

    .p-header {
        display: none;
        padding: 50px 20px;
        color: #38353a94;
        letter-spacing: 2px;

    }

    img {
        width: 100%;
        height: auto;
    }

    /* Section 5 */

    .s5 {
        padding: 70px 20px;
        padding-bottom: 100px;
        background-color: #38353A;
        border-top: 4px solid #c0bab2;
        /*border-bottom: 20px solid #97938B;*/
    }

    .s5 h1 {
        text-align: center;
    }

    .row form {
        display: flex;
        justify-content: center;
    }

    fieldset {
        width: 600px;
    }

    legend[for="name"],
    legend[for="mail"],
    legend[for="msg"] {
        display: none;
    }

    fieldset input,
    fieldset textarea {
        width: 100%;
        padding: 15px;
        margin: 10px auto;
        outline: none;
        background: transparent;
        border: 2px solid #97938B;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        transition: all .3s;
        color: #C0BAB2;
    }

    fieldset input:hover,
    fieldset textarea:hover {
        background: #C0BAB2;
        border: 2px solid #C0BAB2;
        color: #38353A;
    }

    fieldset input:focus,
    fieldset textarea:focus {
        background: #C0BAB2;
        border: 2px solid #C0BAB2;
        color: #38353A;
    }

    input::placeholder:focus, textarea::placeholder:focus {
        color:#38353A;
    }

    input::placeholder, textarea::placeholder {
        color:#97938B;
    }

    input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #38353A;
    }
    input:hover::-moz-placeholder { /* Firefox 19+ */
      color: #38353A;
    }
    input:hover:-ms-input-placeholder { /* IE 10+ */
      color: #38353A;
    }
    input:hover:-moz-placeholder { /* Firefox 18- */
      color: #38353A;
    }

    input:hover::placeholder,
    textarea:hover::placeholder {
        color: #38353A;
    }

    fieldset textarea {
        height: 250px;
    }

    fieldset input.button {
        margin: 0 auto;
    }

    /*input[type="submit"] {
        width: 50%;
        border: none;
        outline: none;
        background: #97938B;
        color: #fff;
        text-transform: uppercase;
        padding: 20px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
        transition: all .3s;
        cursor: pointer;
    }*/

    input:active, input:focus {
        outline: none;
    }

    /*input[type="submit"]:hover {
        box-shadow: 0px 6px 15px 0px rgba(0,0,0,.5);
        background: #97938B;
    }*/

    .s5 .button {
        width: 50%;
    }

    textarea, input {
        -webkit-appearance: none;
        border-radius: 0;
    }

    /* Footer */

    .socials img {
        width: 20px;
        height:auto;
    }

    footer {
        background: #EEEBE7;
        border-top: 4px solid #c0bab2;
        color: #38353A;
    }

    footer .row {
        margin: 0 auto;
    }

    footer .row .col {
        margin: 0 auto;
    }

    footer nav {
        align-items: center;
    }

    footer img {
        width: 32px;
        height:32px;
    }

    /*footer ul {
        margin: 0 auto;
        padding: 10px 0;
    }
*/
    footer ul li {
        display: inline-block;
        list-style: none;
        margin: 5px;
        letter-spacing: 1px;
    }

    .socials li {
        margin: 30px;
    }

    footer a {
        text-decoration: none;
        font-size: .875em;
        color: #38353A;
    }

    #socials-footer {
        font-size: 1em;
    }

    #cp {
        font-size: .75em;
        font-weight: 300;
    }

    button.btt {
        /*display: none;*/
    }

    .btt img {
        width: 40px;
        height: auto;
        position: fixed;
        bottom: 50px;
        right: 30px;
        z-index: 99999;
        outline: none;
        background: none;
        cursor: pointer;
        box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.3);
        display: none;
    }

  /* ==========================================================================
      Media Queries
      ========================================================================== */

      @media (max-width:1028px) {
          .wrapper {
              width: 70%;
          }

          .s2 span#lg-wrd {
              font-size: 2em;
          }

          h1 {
              font-size: 3em;
          }
      }

      @media (max-width: 1000px) {
          .wrapper {
              width: 80%;
          }

          ul.footer-menu, ul.socials {
              padding:0;
          }

          footer .col {
              display: block!important;
              width: 100%!important;
          }

          footer .row-halves .col, footer p {
              margin-bottom: 0;
              padding: 2px;
          }

          fieldset{
              width: 100%;
          }
      }

      @media (max-width: 895px) {
          .wrapper {
              width: 100%;
          }

          .s2 h1, h1 {
              font-size: 2em;
          }

          .footer-menu {
              font-size: .75em;
          }
      }

      @media (max-width: 800px) {

          #top-nav, #socials-top {
              display: none;
          }

          .navbar-buttons {
             display: flex;
             width: 100%;
             align-items: center;
             justify-content: space-between;
             padding: 0 40px;
          }

          .navbar-buttons img {
              width: 32px;
              height:auto;
          }

           h1 {
              font-size: 2em;
              text-align: left!important;
          }

      }

      @media (max-width: 700px) {
           h1 {
              font-size: 2.5em;
              text-align: left!important;
          }
      }

      @media (max-width: 512px) {
           h1 {
              font-size: 2.25em;
          }
      }


      @media (max-width: 670px) {
          .overlay nav {
        	  font-size: .875em;
          }
      }

      @media (max-width: 550px) {
          .overlay nav {
              font-size: .75em;
          }
      }



















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
